h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
address {
  font-style: normal;
}
.link {
  text-decoration: none;
  color: inherit;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  color: #434455;
}

/* Header */

.logo {
  display: inline-block;
  margin-bottom: 24px;
  margin-top: 24px;
  margin-left: 156px;
  margin-right: 76px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

.container-menu {
  display: flex;
}

.menu-nav {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
}

.menu {
  display: flex;
  gap: 40px;
}
.menu-item .link {
  padding: 24px 0;
}

.info-list {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.buttons {
  color: #2e2f42;
  text-decoration: none;
}

.buttons:hover,
.buttons:focus {
  color: #404bbf;
}

.address {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  font-style: normal;
  color: #434455;
}

.contacts-box {
  display: flex;
  gap: 40px;
  justify-content: space-around;
  padding-top: 24px;
  margin-left: 332px;
}

.contacts-item {
  
}

.info-contact {
  color: #434455;
  text-decoration: none;
}

.info-contact:hover,
.info-contact:focus {
  color: #404bbf;
}

/* Main */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.main-section {
  background-color: #2e2f42;
}

.title {
  font-size: 56px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.02em;
  color: #ffffff;
  line-height: 1.07;
  text-align: center;
}

.main-button {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  cursor: pointer;
  background-color: #4d5ae5;
  color: #ffffff;
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

.titlu-sectiune {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.paragraf-sectiune {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.list-tird-section {
  background-color: #ffffff;
}

.tird-section {
  background-color: #f4f4fd;
}

.title-our-team {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}

.team-person-name {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.occupation-team-person {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

.portofolio {
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  line-height: 1.11;
}

.title-img {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portofolio-img-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer {
  background-color: #2e2f42;
}

.footer-text-description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.studio-logo {
  color: #f4f4fd;
}
